<settings>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <id>oschina</id>
                    <name>oschina</name>
                    <url>http://maven.oschina.net/content/groups/public/</url>
                </repository>
                <repository>
                    <id>aliyun</id>
                    <name>aliyun</name>
                    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
                </repository>
                <repository>
                    <id>repo1</id>
                    <name>repo1</name>
                    <url>https://repo1.maven.org/maven2/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>